<html>
  <head>
    <title>RestaurentApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <%= render '/layouts/navigation' %>
    <div  class = "container-fluid" style = "overflow: visible;">
      <%= yield %>
    </div>
    <!-- <div class="ui grey inverted vertical footer segment form-page" style="!important; height: 40px; position: -webkit-sticky;">
      <div class="ui container" style="margin-left: 20px; margin-top: -10px;">
        <center><p>Posted by: Jaison, copyright<i class="fa fa-copyright" style="font-size:15px"></i> Contact information: <a href="mailto:Jaison@example.com">jaison@example.com</a>.</p></center>
      </div>
    </div> -->
  </body>
</html>
